<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomplemoose - detail</title>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="../css/flex-refactor.css">
    <link rel="stylesheet" href="./css/component_header.css">
    <link rel="stylesheet" href="./css/component_home-banner.css">
    <link rel="stylesheet" href="./css/component_home-banner_topics.css">
    <link rel="stylesheet" href="./css/component_footer.css">
    <link rel="stylesheet" href="./css/component_chooseus.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="breadcrumble-container">
            <span>Home</span>
            <span class="active">Ronie Legend</span>
        </div>
        <div class="shipment-container flex justify-end">
            <div class="shipment flex">
                <img src="../img/delivery.svg" alt="delivery">
                <div class="shipment__text">
                    <h5>Standard shipment</h5>
                    <span>Free within 3-6 business days</span>
                </div>

            </div>

            <div class="shipment flex">
                <img src="../img/expressDelivery.svg" alt="delivery">
                <div class="shipment__text">
                    <h5>Express delivery</h5>
                    <span>$35.00 available</span>
                </div>

            </div>

        </div>

        <div class="product-container flex  ">
            <div class="img-container flex">
                <img src="../img/Tshirt.png" alt="T-shirt" class="small__img">
                <img src="../img/Tshirt.png" alt="T-shirt" class="big__img">
            </div>
            <div class="info-container">
                <h2>T-shirt summer vibes</h2>
                <div class="price-container">
                    <span class="price__sale">$89.99</span>
                    <span class="price__normal"></span>
                </div>
                <div class="color-container">
                    Color:
                    <div class="colors-container">
                        <div class="colors">
                            <div class="color color--black"></div>
                        </div> 
                        <div class="colors">
                            <div class="color color--pink"></div>
                        </div>
                        <div class="colors">
                            <div class="color color--blue"></div>
                        </div>
                        <div class="colors">
                            <div class="color color--white"></div>
                        </div>
                    </div>
                </div>

                <div class="size-container">
                    <span>Size: see size table</span>
                    <button class="button button--secundary">Choose size</button>
                </div>

                <div class="quantity-container">
                    <div class="button-container flex gap-sm flex-center">
                        <div class="quantity">
                            <span class="min">-</span>
                            <span class="amount">1</span>
                            <span class="plus">+</span>
                        </div>
                        <button class=" button button--primary add__to">Add to cart</button>
                        <div class="add__whislist">
                            <img src="../img/heartblack.png" alt="heart">
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="description-container flex justify-between">
            <div class="description flex flex-column flex-center">
                <img src="../img/description.svg" alt="description">
                <h4>Details and product description</h4>
                <p class="description__text">
                    White Summer Vibes T-shirt in the uiKit line with a colorful print.
                    Made of jersey cotton. T-shirt fits perfectly with jeans, pants or shorts.
                </p>
            </div>

            <div class="materials flex flex-column flex-center">
                <img src="../img/care.svg" alt="care image">
                <h4>Material(s) and care</h4>
                <p>Body: 98% COTTON - 2% ELASTANE</p>
                <div class="care--img">
                    <img src="../img/care-image.svg" alt="care symbols">
                </div>
            </div>

        </div>

        <div class="selectedForYou-container">
            <div class="flex justify-between">
                <h3>Selected just for you</h3>
                <button class="button button--secundary">Show more</button>
            </div>
            <div class="flex justify-evenly">
                <div class="card-forYou">
                        <img class="card__img" src="../img/Tshirt.png" alt="img t-shirt">
                        <div class="price-container flex flex-column">
                    <span class="card__title">T-shirt summer vibes</span>
                        <span class="card__price bold">$199.99</span>
                    </div>
                </div>
                <div class="card-forYou">
                    <img class="card__img" src="../img/Tshirt.png" alt="img t-shirt">
                    <div class="price-container flex flex-column">
                <span class="card__title">T-shirt summer vibes</span>
                    <span class="card__price bold">$199.99</span>
                </div>
            </div>
            <div class="card-forYou">
                <img class="card__img" src="../img/Tshirt.png" alt="img t-shirt">
                <div class="price-container flex flex-column">
            <span class="card__title">T-shirt summer vibes</span>
                <span class="card__price bold">$199.99</span>
            </div>
        </div>
        <div class="card-forYou">
            <img class="card__img" src="../img/Tshirt.png" alt="img t-shirt">
            <div class="price-container flex flex-column">
        <span class="card__title">T-shirt summer vibes</span>
            <span class="card__price bold">$199.99</span>
        </div>
    </div>
            </div>

        </div>
    </main>
</body>
</html>