.header__small {
    padding: 1rem;
}

.header__small .header__small_items>* {
    text-decoration: none;
    color: var(--text-color--grey);
}

.header__logo {
    align-items: center;
}

.header__logo p {
    color: var(--text-color--yellow);
    margin-left: 0.4rem;
    font-size: 35px;
}

.menu__items {
    margin-right: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-bottom: 2rem;

}

.header__searchbar {
    margin-left: -12rem;
    color: #555;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin-left: 30px;
}

.header__searchbar input {
    height: 48px;
    width: 329px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.header__searchbar button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.header__searchbar button[type="submit"]:hover {
    opacity: 1;
}

.header__searchbar button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.header__icons {
    width: 7rem;
}

nav {
    padding: 0 44px;
    margin-right: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(112,112,112,0.1);
    margin-bottom:1rem;
}

.header__listItem {
    list-style-type: none;
    margin-right: 3rem;
}

.header__listItem > * {
    color:#000000;
    text-decoration: none;
    font-size:22px;
}

.header__listItem.selected > *{
    color: #FDB441;
    border-bottom: 2px solid #FDB441;
}

select {
    border: none;
}