<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomplemoose - choose us</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/component_chooseus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex chooseus">
        <h2>Why should you choose us</h2>
    </div>

    <div class="flex choose__us">
        <div class="flex choose__us_items">
            <div class="flex choose__us_item">
                <img src="../img/freeshipping.svg" alt="Free shipping">
                <h3>Free shipping</h3>
                <span>
                    All purchases over $99 are eligible for
                    free shipping via USPS First Class Mail.
                </span>
            </div>
        </div>

        <div class="flex choose__us_items">
            <div class="flex choose__us_item">
                <img src="../img/easypay.svg" alt="Free shipping">
                <h3>Easy Payments</h3>
                <span>
                    All payments are processed instantly
                    over a secure payment protocol.
                </span>
            </div>
        </div>

        <div class="flex choose__us_items">
            <div class="flex choose__us_item">
                <img src="../img/moneyback.svg" alt="Free shipping">
                <h3>Money-Back Guarantee</h3>
                <span>
                    If an item arrived damaged or you've
                    changed your mind, you can send it
                    back for a full refund.
                </span>
            </div>
        </div>

        <div class="flex choose__us_items">
            <div class="flex choose__us_item">
                <img src="../img/quality.svg" alt="Free shipping">
                <h3>Finest Quality</h3>
                <span>
                    Designed to last, each of our products has
                    been crafted with the finest materials.
                </span>
            </div>
        </div>
        
    </div>
</body>
</html>