<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomplemoose - footer</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/component_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <footer class="footer">
        <div class="footer__line"></div>

        <div class="flex footer__container">
            <div class="customer__service">
                <h3>Customer service</h3>
                <a>Orders & delivery</a>
                <a>Payments</a>
                <a>Returning</a>
                <a>Warranty & repair</a>
            </div>
            <div class="about__us">
                <h3>About us</h3>
                <a>Company details</a>
                <a>News</a>
                <a>Jobs</a>
                <a>Sustainability</a>
            </div>
            <div class="subscribe__newsletter">
                <h3>Subscribe to our newsletter!</h3>
                <div>
                    <input type="email">
                    <button type="submit">Send</button>
                </div>
            </div>
            <div class="flex follow_us">
                <h3>Follow us</h3>
                <div class="follow__us_socials">
                    <a><img src="../img/facebook.svg"></a>
                    <a><img src="../img/twitter.svg"></a>
                    <a><img src="../img/google.svg"></a>
                    <a><img src="../img/linkedin.svg"></a>
    
                </div>
            </div>
        </div>

        

        <div class="footer__conditions">
            <span>Terms and conditions</span><span> | </span><span>Privacy policy</span>
        </div>
    </footer>
</body>

</html>