<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomplemoose - banner</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/component_home-banner_topics.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex banner_topics">
        <div class="flex item item_1">
            <div class="item__description">
                <span>New arrivals
                    are now in!</span>
                    <button>SHOW COLLECTION</button>
            </div>
        </div>

        <div class="flex item item_2">
            <div class="item__description">
                <span>Basic t-shirts
                    $29,99</span>
                    <button>SHOW COLLECTION</button>
            </div>
        </div>

        <div class="flex item item_3">
            <div class="item__description">
                <span>Sale this 
                    summer</span>
                    <button>VIEW ALL</button>
            </div>
        </div>
    </div>
</body>
</html>